$board-size: 34vw;
$score-board-color: #f00;
$score-board-font-color: #f00;
$border-color: #f00;
$icon-color: #f00;
$footer-color: #f00;

$background-gradient: radial-gradient(
    ellipse at top,
    #2c5364,
    #203a43,
    #0f2027
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$background: #0f2027; /* fallback for old browsers */
