/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* fallback for old browsers */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at top, #2c5364, #203a43, #0f2027);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}

i {
  font-size: 8em;
  color: #f3f4f5;
}

.header-score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
  border: 2px solid #606e85;
  padding: 1em;
  border-radius: 5px;
  margin: 4vh 0;
}

.header-score-container article {
  background: #f3f4f5;
  text-align: center;
  padding: 1em 0;
  width: 8em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-score-container article .score-text-player {
  text-transform: uppercase;
  color: #2a46c0;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0;
}

.header-score-container article .score {
  font-size: 2em;
  font-weight: 700;
  color: #3b4363;
  margin: 0;
}

.header-score-container .logo {
  text-transform: uppercase;
  background: none;
  text-align: left;
  color: #fafafa;
  font-size: 1.5em;
  padding: 0;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.header-score-container .logo p {
  margin: 0;
}

.section-board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30em;
  height: 30em;
  border: 0.1em solid #606e85;
  border-radius: 5px;
  margin-bottom: 4vh;
}

.div-board-rows {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.div-board-rows:not(:last-child) {
  border-bottom: 0.1em solid #606e85;
}

.div-board-cols {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-board-cols:not(:last-child) {
  border-right: 0.1em solid #606e85;
}

.footer {
  width: 100vw;
  height: 5vh;
  background: #16161d;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
}

.footer p {
  font-size: 1em;
  line-height: 1em;
}

.footer p a {
  color: #2a46c0;
  text-decoration: none;
}

#modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

#modal article {
  background: #f3f4f5;
  width: 16em;
  height: 10em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal #result {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  margin: 0;
  color: #3b4363;
}

#modal #btn-play-again {
  height: 2em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  color: #f3f4f5;
  background: #2a46c0;
}
/*# sourceMappingURL=main.css.map */